version: '3.8'

services:
  backend:
    build:
      context: ./api
      dockerfile: Dockerfile
    ports:
      - "8085:8080"
    volumes:
      - barbergo_data:/app/data

  frontend:
    build:
      context: ./app
      dockerfile: Dockerfile
      args:
        - API_BASE_URL=http://localhost:8085/api
    ports:
      - "3005:80"
    depends_on:
      - backend

volumes:
  barbergo_data:
